<div class="container is-fluid">
  <div class="box">
      <h3 class="subtitle is-4">Contact Us</h3>
      <p><strong>We are: </strong><%= @contact.name %></p>
      <p><strong>Located at: </strong>
          <%= @contact.street %>
          <%= @contact.postal %>
          <%= @contact.province %>
      </p>
        <p><strong>Phone us: </strong><%= @contact.telephone %></p>
<div class="column is-two-fifths">
      <h3 class="subtitle is-4 pt5">Hours Of Operation</h3>
      <table class="table is-narrow is-bordered is-striped is-hoverable ">

        <tr>
          <td class="has-text-weight-bold">Monday:</td>
          <td><%= @contact.hrsmon %></td>
        </tr>

          <tr>
            <td class="has-text-weight-bold">Tuesday:</td>
            <td><%= @contact.hrstue %></td>
          </tr>

          <tr>
            <td class="has-text-weight-bold">Wednesday:</td>
            <td><%= @contact.hrswed %></td>
          </tr>

          <tr>
            <td class="has-text-weight-bold">Thursday:</td>
            <td><%= @contact.hrsthr %></td>
          </tr>

        <tr>
          <td class="has-text-weight-bold">Friday:</td>
          <td><%= @contact.hrsfri %></td>
        </tr>

        <tr>
          <td class="has-text-weight-bold">Saturday:</td>
          <td><%= @contact.sathrs %></td>
        </tr>

        <tr>
          <td class="has-text-weight-bold">Sunday:</td>
          <td><%= @contact.sunhrs %></td>
        </tr>

      </table>
       <p>Last updated: <%= @contact.updated_at %></p>
  </div>
</div>
</div>